# 2.1 Skills: Python üêç

In this notebook we will **review** Python data types and data structures, as well as basic programming building blocks such as `if` statements and `for` loops.

## Data types

### Numerical

Python has two numerical data types:
- `int`, e.g. `10`
- `float`, e.g. `10.12`

In [1]:
i = 10

In [6]:
type(i)

int

In [7]:
f = 10.12

In [8]:
isinstance(i, int)

True

In [9]:
isinstance(f, int)

False

In [10]:
type(f)

float

Python has two signs for division, which produce different results:

In [11]:
i // 3 == i / 3

False

In [12]:
i // 3

3

In [13]:
i / 3

3.3333333333333335

In [14]:
type(i // 3)

int

In [15]:
type(i / 3)

float

### Strings

In [16]:
mystring = "A string of text"

As of Python 3, strings are by default encoded in Unicode.

In [17]:
type(mystring.encode('utf-8'))

bytes

Strings in Python are **list** of characters, thus they can be manipulated as any other *iterable*.

In [18]:
# we can iterate through the characters
# of a string

for char in mystring:
    print(char)

A

s
t
r
i
n
g

o
f

t
e
x
t

In [19]:
# slicing by means of indices works as expected

mystring[2:]

'string of text'

In [20]:
mystring[-1]

't'

#### Concatenation

In [21]:
newstring = "This is " + mystring.lower()

In [22]:
newstring

'This is a string of text'

A very handy feature introduced in Python 3.6.x are f-strings:
- they are declared by prepending the character `f` to the quote signs containing the text
- they use curly brackets `{variable_name}` to specify the position in a string where the content of an existing variable should be inserted.

In [23]:
f'## {mystring} ##'

'## A string of text ##'

The curly brackets can contain *any* Python expression (except assignment of variables); the expression will be executed and its returned output interpolated within the string template.

In [24]:
f'The length of `mystring` is {len(mystring)} characters.'

'The length of `mystring` is 16 characters.'

**Q**: Can you explain what's going on in the cell below?

In [25]:
s = "repetita iuvant"
print(f'{", ".join([s for i in range(0, 10)])}')

repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant, repetita iuvant

Can you rewrite the cell above in an alternative way?

#### Transformation

In [26]:
mystring.lower()

'a string of text'

In [27]:
mystring.upper()

'A STRING OF TEXT'

In [28]:
mystring.replace("string", "list").replace("text", "characters")

'A list of characters'

### Date and time

 Limit of this data type when working with historical data (timestamps failed before a certain date around 1700).

#### `datetime.date`

In [35]:
from datetime import date, datetime

In [36]:
# `date` takes three arguments:
# 1. year, 2. month, 3. day

d = date(1982, 7, 17)

In [37]:
type(d)

datetime.date

**NB**: When creating a date, order matters! Try this:

In [38]:
d = date(19, 7, 1782)

ValueError: day is out of range for month

In [39]:
d.today()

datetime.date(2019, 7, 21)

In [40]:
f'{d.day}.{d.month}.{d.year}'

'17.7.1982'

In [41]:
f'{d.year}/{str(d.month)}/{d.day}'

'1982/7/17'

In [42]:
f'{d.year}/{str(d.month).zfill(2)}/{d.day}'

'1982/07/17'

#### `datetime.datetime`

`datetime` adds information about hour/minute/second/micro second to a date.

In [43]:
from datetime import datetime

In [44]:
dt = datetime.utcnow()

In [45]:
dt

datetime.datetime(2019, 7, 21, 18, 28, 52, 422532)

In [46]:
dt.isoformat()

'2019-07-21T18:28:52.422532'

In [47]:
dt.date()

datetime.date(2019, 7, 21)

In [48]:
datetime.now().strftime("%m/%d/%Y, %H:%M:%S")

'07/21/2019, 20:28:53'

## Python data structures

### Lists

In [49]:
l = list(range(0, 5))

In [50]:
l

[0, 1, 2, 3, 4]

The `extend()` method can be used to append elements to an existing list.

**NB**: `extend` operates directly on the list, modifying it in place.

In [51]:
l.extend(range(1, 10))

In [52]:
l

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
l + list(range(5, 10))

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [54]:
l

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9]

`count()` can be used to count the number of times a given value is found within a list:

In [55]:
for n in range(0, 10):
    print(f'{n} occurs {l.count(n)} times in list `l`')

0 occurs 1 times in list `l`
1 occurs 2 times in list `l`
2 occurs 2 times in list `l`
3 occurs 2 times in list `l`
4 occurs 2 times in list `l`
5 occurs 1 times in list `l`
6 occurs 1 times in list `l`
7 occurs 1 times in list `l`
8 occurs 1 times in list `l`
9 occurs 1 times in list `l`

In [56]:
l

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
l.index(4)

4

`pop()` remove the last item of a list and, as `extend()`, operates directly on the variable, modifying its value.

In [58]:
while(len(l) > 0):
    print(f'Removing {l.pop()} from my list')
    print(f'Size of `l` is {len(l)}')

Removing 9 from my list
Size of `l` is 13
Removing 8 from my list
Size of `l` is 12
Removing 7 from my list
Size of `l` is 11
Removing 6 from my list
Size of `l` is 10
Removing 5 from my list
Size of `l` is 9
Removing 4 from my list
Size of `l` is 8
Removing 3 from my list
Size of `l` is 7
Removing 2 from my list
Size of `l` is 6
Removing 1 from my list
Size of `l` is 5
Removing 4 from my list
Size of `l` is 4
Removing 3 from my list
Size of `l` is 3
Removing 2 from my list
Size of `l` is 2
Removing 1 from my list
Size of `l` is 1
Removing 0 from my list
Size of `l` is 0

In [59]:
# you cannot remove an element from an empty list

l.pop()

IndexError: pop from empty list

### Dictionaries

In [60]:
d = {
    "count": 0,
    "type": "child",
    "average": 1.2
}

In [61]:
d.keys()

dict_keys(['count', 'type', 'average'])

In [62]:
d.values()

dict_values([0, 'child', 1.2])

In [63]:
d['count']

0

In [64]:
d1 = {}

In [65]:
assert d1

AssertionError:

In [66]:
if d:
    print("hello")

hello

In [67]:
if d1:
    print("hello")

**Q**: Why? Can you explain what's going on?

### Tuples

Tuples are similar to lists, as they are both iterables.

In [68]:
t = tuple((0, "child", 1.2))

In [69]:
t

(0, 'child', 1.2)

As any interable, you can iterate over it (as one would expect):

In [70]:
for value in t:
    print(value)

0
child
1.2

The main difference between the two is that tuples do no support slicing.

In [71]:
t[1] = 'adult'

TypeError: 'tuple' object does not support item assignment

## Further resources

Add list of further resources for Python refreshers.