# HelloWorld

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.24.2'

### Variables and operations

In [1]:
a = 2
b = a

In [2]:
b += 10

In [3]:
a

2

In [4]:
b

12

In [5]:
s = "Hello World!"
print(s)

Hello World!

In [32]:
s[-1]

'!'

### Data structures

In [10]:
l = [1,2,3]
d = {1:"one",2:"two",3:"three"}

In [11]:
l.append(4)
l

[1, 2, 3, 4]

In [12]:
d.update({4:"four"})
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [30]:
l[2]

3

In [14]:
# comprehensions

[x*2 for x in l]

[2, 4, 6, 8]

In [15]:
# operations on lists

l*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
# arrays
import numpy as np

v = np.array(l)
v

array([1, 2, 3, 4])

In [20]:
# broadcasting

v*2

array([2, 4, 6, 8])

### Looping

In [21]:
for x in l:
    print(x/2)

0.5
1.0
1.5
2.0

In [22]:
n = 0

while n < len(l):
    print(l[n])
    n += 1

1
2
3
4

In [24]:
sorted(l, reverse=True)

[4, 3, 2, 1]

In [33]:
for n,x in enumerate(l):
    if n < 2:
        print(x)

1
2

### Functions

In [26]:
def power(x,p=2):
    return x**p

In [27]:
power(2)

4

In [28]:
power(2,3)

8

### Questions

* Create a list coprehension with an if condition inside.
* Create a function that brings a string to lowercase and removes its punctuation.